<!DOCTYPE html>
<html lang="en" xml:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quit smoking app</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div style="overflow: auto">
                <img src="images/QuitSmokingAppLogoSmall.png"/>
            </div>
            <nav class="nav_links">
                <ul>
                    <li><a href="">Home page</a></li>
                    <li><a href="">Account</a></li>
                    <li><a href="">Info</a></li>
                </ul>
            </nav>
            <div>
                <a href=""><button class="log-in-button">Log in</button></a>
                <a href="/newUser"><button class="sign-in-button">Sign in</button></a>
            </div>
        </header>
        <main>
            <dl>
                <dt>News</dt>
                    <dd>
                        This is new application.
                    </dd>
            </dl>
        </main>
    </body>
</html>
